@import 'fonts';


.landing {
    // border: solid red 1px;
    height: 100vh;
}

.logoText {
    font-family: $splash;
    font-size: 6rem;
    line-height: 4rem;
    margin-bottom: 3.5rem;
}

.accessCodeForm {
    max-width: 330px;
    // border: solid cyan 1px;
}